
.img2 {
    display: inline-block;
    height: 150px;
    width: 150px;
    position: relative;
    border-radius: 50% ;
    right: -44%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: 30%;
}


body{
    background-image: url(img/supratik-deshmukh-FkWiPK3sZq8-unsplash.jpg);
}

.primero{
    color: white;
    height: 25px;
    font-size: 25px;
    /* cursor: pointer; */
}

.segundo {
    color: white;
    font-size: 18px;
}

html {
    display: inline-block;
    
}

.img1{
    display: inline-block;
    height: 80px;
    width: 80px;
    position: relative;
    border-radius: 50% ;
    right: -45%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: 30%;
}
